<!DOCTYPE html>
<html lang="en">
<head>
    <head-html></head-html>    
    <link rel="stylesheet" href="../static/css/catalog.css">
  
</head>
<body>

<header class="header">
    <h2>Titulo</h2>
</header>

    <main class="card">
        
      <div class="cards-product">
          <div class="box">
              <div class="img">
                  <img src="../static/img/img.jpg" alt="">
              </div>
              <div class="info">
                  <h2>Nombre</h2>
                  <p>Descricion</p>
                  <span class="price">$13.94</span>
              </div>
          </div>
      </div>

      <div class="cards-product">
        <div class="box">
            <div class="img">
                <img src="../static/img/img.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nombre</h2>
                <p>Descricion</p>
                <span class="price">$13.94</span>
            </div>
        </div>
    </div>

    <div class="cards-product">
        <div class="box">
            <div class="img">
                <img src="../static/img/img.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nombre</h2>
                <p>Descricion</p>
                <span class="price">$13.94</span>
            </div>
        </div>
    </div>

    <div class="cards-product">
        <div class="box">
            <div class="img">
                <img src="../static/img/img.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nombre</h2>
                <p>Descricion</p>
                <span class="price">$13.94</span>
            </div>
        </div>
    </div>

   
        
    </main>
    <footer>
        <nav-footer></nav-footer>
    </footer>
    <script src="https://kit.fontawesome.com/994fe1cfb9.js" crossorigin="anonymous"></script>
    <script src="../static/js/nav-footer.js"></script>
    <script src="../static/js/head.js"></script>
</body>
</html>