.header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    text-align: center;
    background-image: radial-gradient(circle at 50% -20.71%, #e459ea 0, #c84ded 16.67%, #a544f0 33.33%, #783cf2 50%, #2538f4 66.67%, #0039f5 83.33%, #003af6 100%);

}

