<!DOCTYPE html>
<html lang="en">

<head>
  <head-html></head-html>
  <link rel="stylesheet" href="../static/css/index.css">


</head>

<body>
  <header>
    <nav class="nav-bar">
      <h1>Catalogos</h1>
      <div class="icons">


      </div>
    </nav>
    <nav class="search-bar">
      <div class="search-box">

      </div>
      <div class="close">

      </div>
    </nav>
  </header>
  <main>
    <div class="card">
      <div class="content">
        <h2>Titulo</h2>
        <p>Pequeña info</p>
        <a href="catalog.html">Abrir</a>
      </div>

      

      
    </div>

    <div class="card">
      <div class="content">
        <h2>Titulo</h2>
        <p>Pequeña info</p>
        <a href="catalog.html">Abrir</a>
      </div>

      

      
    </div>

    <div class="card">
      <div class="content">
        <h2>Titulo</h2>
        <p>Pequeña info</p>
        <a href="catalog.html">Abrir</a>
      </div>

      

      
    </div>
  </main>
  <footer>
    <nav-footer></nav-footer>

  </footer>

  <script src="https://kit.fontawesome.com/994fe1cfb9.js" crossorigin="anonymous"></script>
  <script src="../static/js/nav-footer.js"></script>
  <script src="../static/js/head.js"></script>
</body>

</html>