<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="card-profile">
        <div class="img">
            <img src="../static/img/img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Michael Daniel</h2>
            <p>Carpintero de la web</p>            
            <button class="btn">Crear Catalogo</button>
        </div>
    </div>

    <footer>
<nav-footer></nav-footer>
    </footer>
    <script src="../static/js/nav-footer.js"></script>
</body>
</html>